<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- PAGE HEADER ---------------------------------------------------------------------------------->
    <meta charset="utf-8">
    <title>PRODUCT NAME - MODEL/GENERATION</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- MOBILE SPECIFIC METAS ------------------------------------------------------------------------>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT ----------------------------------------------------------------------------------------->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS ------------------------------------------------------------------------------------------>
    <link rel="stylesheet" href="/Users/stephen/Desktop/the-review_orchard/css/normalize.css">
    <link rel="stylesheet" href="/Users/stephen/Desktop/the-review_orchard/css/skeleton.css">

    <!-- FAVICON -------------------------------------------------------------------------------------->
    <link rel="icon" type="image/png" href="images/favicon.png">

  </head>

  <body>

    <!-- PRIMARY PAGE LAYOUT - http://getskeleton.com ------------------------------------------------->
    <!-- BEGIN CONTAINER DIV--------------------------------------------------------------------------->
    
    <div class="container">
      <div class="row">
        <!-- THE REVIEW ORCHARD LOGO ------------------------------------------------------------------>

        <a href="index.html"><img id="logo" src="../../images/the-review-orchard.png"/></a>
      </div>
      <div>
        <div class="twelve.columns">
          <h1 class="product-headline">PRODUCT NAME - MODEL/GENERATION</h1>
          <p class="product-info-text">RELEASE DATE</p> 
        </div>
        <div>
          <!-- COLUMN 1 ------------------------------------------------------------------------------>
          <!-- APPLE LINKS --------------------------------------------------------------------------->
          <!-- REPLACE ME WITH APPLE LINKS ----------------------------------------------------------->
      
        </div>
        <div class="twelve.columns">
          <div class="one-third column">
            <!-- TECH REVIEW LINKS ------------------------------------------------------------------->
            <!-- REPLACE ME WITH TECH REVIEW LINKS --------------------------------------------------->
            
            <!-- NEWS REVIEW LINKS ------------------------------------------------------------------->
            <!-- REPLACE ME WITH NEWS REVIEW LINKS ---------------------------------------------------> 

          </div>
          <div class="one-third column">
          <!-- COLUMN 2 ------------------------------------------------------------------------------>
          <!-- VIDEO REVIEW LINKS -------------------------------------------------------------------->
          <!-- REPLACE ME WITH VIDEO REVIEW LINKS ---------------------------------------------------->

          <!-- GENERAL REVIEW LINKS ------------------------------------------------------------------>
          <!-- REPLACE ME WITH GENERAL REVIEW LINKS -------------------------------------------------->
          
          </div>
          <div class="one-third column">
          <!-- COLUMN 3 ------------------------------------------------------------------------------>
          <!-- COMPARISON LINKS ---------------------------------------------------------------------->
          <!-- REPLACE ME WITH COMPARISON LINKS ------------------------------------------------------>

          <!-- UNBOXING LINKS ------------------------------------------------------------------------>
          <!-- REPLACE ME WITH UNBOXING LINKS -------------------------------------------------------->

          <!-- FOLLOW UP LINKS ----------------------------------------------------------------------->
          <!-- REPLACE ME WITH FOLLOW UP LINKS ------------------------------------------------------->

          <!-- REDDIT LINKS -------------------------------------------------------------------------->
          <!-- REPLACE ME WITH REDDIT LINKS ---------------------------------------------------------->
          
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTAINER DIV --------------------------------------------------------------------------->

    <!-- BEGIN EMAIL DIV ----------------------------------------------------------------------------->
    <div>
      <p class="email-us">If you find a good review link that is not included on this page, <br> experience a broken link, or have any feedback on this page, <br> click <a href="mailto:therevieworchard@gmail.com">here</a> to send us an email.</p>
    </div>
    <!-- END EMAIL DIV ------------------------------------------------------------------------------->

    <!-- BEGIN FOOTER DIV ---------------------------------------------------------------------------->
    <footer>
      <p class="copyright">Copyright 2020 The Review Orchard</p>
    </footer>
  <!-- END FOOTER DIV -------------------------------------------------------------------------------->

  </body>
</html>